
/*
    Carrousel
*/

/* <div class="logo-gif"> */

.logo-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 95vh;
    margin-top: 50px;
    padding: 0;
}

/* <img src="../logo_G.GIF" alt="logo_gif" id="logo-g"> */

#logo-g {
    width: 35%;
}

/* <img src="../slogan_G.GIF" alt="slogan_gif" id="slogan-g"> */

#slogan-g {
    width: 50%;
    margin-bottom: 50px;
}

/* Configuración para SmartPhone */

@media (max-width:768px) {

    .logo-gif {
        display: flex;
        margin-top: 0;
        min-height: 100vh;
    }
    
    #logo-g {
        width: 100%;
    }
    
    #slogan-g {
        width: 60%;
        margin-bottom: 50px;
    }

}