
/*
    Carrousel
*/

/* <section id="nosotros"> */

#carrousel {
    background-color: black;
    min-height: 100vh;
}

/* <div class="logo-gif"> */

.logo-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 0;
}

/* <img src="../logo_G.GIF" alt="logo_gif" id="logo-g"> */

#logo-g {
    width: 35%;
}

/* <img src="../slogan_G.GIF" alt="slogan_gif" id="slogan-g"> */

#slogan-g {
    width: 50%;
    margin-bottom: 50px;
}

/*<a class="boton-go" href="#nosotros">Go!</a>*/

.boton-go {
    font-size: 25px;
	padding: 15px;
	text-decoration: none;
	color: #ff5858;
	border: 2px solid;
	border-radius: 30px;
	transition: all 400ms ease;
}

.boton-go:hover {
	background: #ff5858;
	color: black;
}

/* Configuración para SmartPhone */

@media (max-width:768px) {

    .logo-gif {
        display: flex;
        margin-top: 0;
        min-height: 100vh;
    }

    .boton-go {
        font-size: 20px;
        padding: 10px;
        border-radius: 50px;
    }
    
    #logo-g {
        width: 100%;
    }
    
    #slogan-g {
        width: 60%;
        margin-bottom: 50px;
    }

}