
/*
    NavBar
*/

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 0 30px;
    line-height: 50px;
    text-decoration: none;
}

.logo:hover {
    color: #ff5858;
    transition: 0.5s;
}

.header { 
    background-color: rgba(0, 0, 0, 0.900);
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 5px 0px white;
    z-index: 1;
}

.nav-menu {
    display: flex;
    margin-right: 25px;
    list-style: none;
}

.nav-menu-item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;
}

.nav-menu-item a{
    text-decoration: none;
}

.nav-menu-link{
    color: white;
    padding: 5px 5px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #ff5858;
    transition: 0.5s;
}

.active{
    background-color: #ff5858;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-width:768px) {

    .logo {
        padding: 0 20px;
        line-height: 60px;
    }

    .header { 
        height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.900);
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 0 5px 0 0;
        height: auto;
        overflow-y: auto;
        left: 105%;
        transition: left 0.5s;
        box-shadow: inset 0px 0px red, 
                    inset -0px -1px white, 
                    inset 0px 0px yellow;
    }

    .nav-menu-item {
        line-height: 60px;
    }

    .nav-menu-link:hover{
        background: none;
        color: #ff5858;
    }


    .active {
        background: none;
    }
    
    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
        box-shadow: inset 0px 0px red, 
                    inset -0px -1px white, 
                    inset 0px 0px yellow;

    }

}