

#gallery {
    min-height: 100vh;
}

.fondo-gallery {
    min-height: 100vh;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(0, 0%, 11%);
}

.gallery-title {
	margin-top: 200px;
    color: white;
    font-family: Rejova;
}

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.container-category label{
	padding-top: 10px;
	padding-bottom: 5px;
    padding-left: 30px;
	padding-right: 30px;
    margin: 10px;
    font-size: 20px;
    background: white;
    border-radius: 15px;
    cursor: pointer;
	font-family: JosefinSans-Bold;
	transition: all 400ms ease;
}

.container-category label:hover{
    opacity: 0.8;
}

/*Post - Publicaciones*/

.container-post{
    max-width: 1200px;
	margin: auto;
	margin-top: 10px;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
	transition: all 500ms ease;
}

.posts .post{
    overflow: hidden;
}

.post .ctn-img{
    width: 100%;
}

.post .ctn-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
	border-radius: 10px;
    cursor: pointer;
}

/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="LMETRAJE"]:checked ~ .posts .post:not([data-category~="LMETRAJE"]),
[value="CMETRAJE"]:checked ~ .posts .post:not([data-category~="CMETRAJE"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="LMETRAJE"]:checked ~ .container-category [for="LMETRAJE"],
[value="CMETRAJE"]:checked ~ .container-category [for="CMETRAJE"]{
    background: lightcoral;
    color: #fff;
}

@media screen and (max-width: 1200px){

    .gallery-title {
        margin-top: 100px;
    }

    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){

    .gallery-title {
        margin-top: 100px;
    }

    .container-category label{
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px;
        font-size: 20px;
        background: white;
        border-radius: 15px;
        cursor: pointer;
        font-family: JosefinSans-Bold;
        transition: all 400ms ease;
    }

    .posts{
        grid-template-columns: repeat(1, 1fr);
    }

	.post .ctn-img img{
        width: 100%;
        height: 100%;
		object-fit: cover;
		padding: 10px;
		border-radius: 35px;
		margin: auto;
	}
}